<div id="employeeDetail">

    <h2>Detail</h2>

    <div class="todoTitle">{{oneEmployee.id}}</div>
    <div class="todoTitle">{{oneEmployee.nom}}
	<div class="todoTitle">{{oneEmployee.prenom}}</div>
    <div class="todoDescription">{{oneEmployee.age}}
	<div class="todoDescription">{{oneEmployee.civilite}}</div>
    <div class="todoDescription">{{oneEmployee.matrim}}
	<div class="todoDescription">{{oneEmployee.email}}</div>
    
    </div>

    <hr/>

    <button class="button" ng-click="gotoRetour()">&lt; Retour</button>

</div>
